<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159109090746-bs6h5g3jh2vl36otmjappf9s68hp1hmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159109090746-bs6h5g3jh2vl36otmjappf9s68hp1hmp</string>
	<key>API_KEY</key>
	<string>AIzaSyD3wjIaxbtk1xVatuo3MyKjBoiXD0882hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>159109090746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.minseong.Uber-clone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-32e45</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-32e45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159109090746:ios:ef79667a0730fd8c3d2183</string>
</dict>
</plist>